$bluePrimary: #00135B;
$blueSecondary: #2E3B5E;
$gray: #E1E6EA;

//Import bootstrap
@import './bootstrap/bootstrap.scss';

@import './pages/global';
@import './components/fonts';
@import './components/form-contant';
@import './components/search';
@import './components/blocks';
@import './components/menus';
@import './pages/pages';