header{
    margin-bottom: 2rem;
    .top{
        .container{
            background-color: $bluePrimary;
            .region{
                display: flex;
                justify-content: center;
                .logo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 200px;
                    @include media-breakpoint-up(sm){
                        width: 40%;
                    }
                }
            }
        }
    }
    .bottom{
        .container{
            border-bottom: 5px solid $blueSecondary;
            .region{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: .5rem 0rem;
                #block-menuhamburguesa{
                    div:nth-child(2){
                        display: flex;
                        .fa-2x{
                            font-size: 1.8em !important
                        }
                    }
                    .toggle-menu{
                        color: $bluePrimary;
                    }
                    @include media-breakpoint-up(sm){
                        display: none;
                    }
                }
                #search-block-form{
                    .form-group{margin-bottom: 0rem;}
                }
                @include media-breakpoint-up(sm){
                    justify-content: center;
                    padding: 0rem;
                    .main__menu{
                        display: flex;
                    }
                }
            }
        }
    }
}

main{
    overflow: hidden;
}

footer{
    margin-top: 2rem;
    .container{
        background: $gray;
        padding: 1rem;
        border-top: 4px solid $blueSecondary;
        text-align: center;
        font-size: 13px;
        @include media-breakpoint-up(sm){
            padding: 2%;
            text-align: right;
        }
    }
}