//Landingpage
.path-frontpage{
    header{
        margin-bottom: 0rem;
    }
    main{
        .field--name-field-block-type-imagen{
            position: relative;
            min-height: 300px;
            img{
                transform: scale(2);
            }
        }
        @include media-breakpoint-up(sm) {
            img{
                transform: initial !important;
                margin-top: 0 !important;
            }
        }
    }
    footer{
        margin-top: 0rem;
    }
}

//Page Inicio
.path-inicio{
    header{
        margin-bottom: 0rem;
    }
    #events-carousel{
        .carousel-item{
            .overlay{
                color: white;
                background: rgba(0,0,0,0.7);
                padding: 1rem 1.5rem;
                @include media-breakpoint-up(sm){
                    transform: translateY(50%);
                    right: 0;
                    max-width: 300px;
                    bottom: 50%;
                    position: absolute;
                }
                p{
                    margin: 0;
                    line-height: 1.3;
                }
                .field-btn{
                    // margin-top: 1rem;
                    text-align: right;
                }
            }
        }
        .carousel-btns{
            position: relative;
            padding: 0.5rem;
            text-align: center;
            .btn{
                box-shadow: 0 0 8px rgba(0,0,0,0.4);
            }
        }
    }
    .view-baluarte-content-services{
        .views-field-nothing{
            text-align: center;
            .field-title{
                margin: 1rem 0rem;
                font-weight: bold;
                a{
                    color: var(--gray-dark);
                }
            }
        }
    }
}

//Page services
.view-baluarte-content-services.view-display-id-block_1{
    .views-field-nothing{
        margin-bottom: 2rem;
        .field-image{
            margin-bottom: 2rem;
        }
        .field-title{
            font-weight: bold;
        }
    }
}

//Page contactenos
.path-contactenos{
    .field--type-image{
        margin-bottom: 2rem;
    }
}

//Página clientes
#clients-carousel{
    margin: 5rem 0rem;
    .col-12.col-md-3{
        display: flex;
        justify-content: center;
        @include media-breakpoint-up(sm){
            justify-content: flex-end
        }
    }
    .views-field-field-client-title{
        font-weight: bold;
        color: $blueSecondary;
    }
    .carousel-btns{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        .btn{
            margin-right: 0.5rem;
            box-shadow: 0 0 9px rgba(0,0,0,0.3);
            &:last-child{
                margin-right: 0rem;
            }
        }
    }
}

//Node
.path-node{
    .field--name-node-title{
        margin-bottom: .8rem;
        h4{
            line-height: 1;
        }
    }
    .field--name-node-post-date{
        font-style: italic;
        font-weight: bold;
        margin-bottom: 0.5rem;
        font-size: 14px;
    }
}