{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{# User menu #}
{% if page.navigation_user %}
  {% block navigation_user %}
    <div class="navigation_user">
      <div class="container">
        {{ page.navigation_user }}
      </div>
    </div>
  {% endblock %}
{% endif %}

{# Header #}
{% block header %}
  <header class="navegation" id="navbar" role="banner">

    {% if page.navigation_first %}
      <div class="top">
        <div class="container">
          {{ page.navigation_first }}
        </div>
      </div>
    {% endif %}

    {% if not is_front %}
      {% if page.navigation_second %}
        <div class="bottom">
          <div class="container">
            {{ page.navigation_second }}
          </div>
        <div>
      {% endif %}
    {% endif %}

  </header>
{% endblock %}

{# Main #}
{% block main %}
  <div role="main" class="container">
    <div class="row">

      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-md-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-md-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-md-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-md-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-md-12'
        ]
      %}

      {% if is_front %}
        <main>
      {% else %}
        <main{{ content_attributes.addClass(content_classes) }}>
      {% endif %}
        {# Content #}
        {% block content %}
          <a id="main-content"></a>          
          {{ page.content }}
        {% endblock %}

      </main>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-md-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}

    </div>
  </div>
{% endblock %}


{% if page.footer %}
  {% block footer %}
    <footer class="footer" role="contentinfo">
      {% if page.footer %}
          <div class="container">
            {{ page.footer }}
          </div>
      {% endif %}
    </footer>
  {% endblock %}
{% endif %}