/**
 * @file
 * Styles for LEGIS Layouts tabs.
 */
.panels-legis-tabs .panels-tabs-content .panels-tab-content.inactive {
  display: none;
}

.legis-layout-htabs-2 .panels-tabs .panels-tab {
  float: left;
}