//Para todas las cabeceras de la página
.block-entity-viewtaxonomy-term{
    margin-bottom: 2rem;
    h2{
        display: none;
    }
    .field--type-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .field--name-description{
        margin: 1rem 0rem;
    }
}

//page nosotros
.block-views-blockbaluarte-content-socios-block-1,
.block-views-blockbaluarte-content-socios-block-2{
    .field-name{ font-weight: bold; margin-bottom: 0.5rem; color: var(--gray);}
    .views-field-field-sobre-mi{ line-height: 1.3; }
}
.block-views-blockbaluarte-content-socios-block-1{
    .view-content{
        padding: 0.5rem;
        background: var(--light);
        border: 1px solid var(--gray);
    }
    .field-name{ margin-top: 0.5rem; text-align: center;}
}
.block-views-blockbaluarte-content-socios-block-2{
    .views-field-field-sobre-mi{ margin-left: 1rem; }
}

//Page Noticias
.block-views-blockbaluarte-content-notice-block-1,
.block-views-blockbaluarte-content-notice-block-2,
.block-views-blockbaluarte-content-notice-block-3{
    padding: 1.2rem;
    .block-title{
        text-align: center;
        margin: 2rem 0rem 1rem 0rem;
    }
}

.block-views-blockbaluarte-content-notice-block-1{
    .item{
        text-align: center;
    }
}

.block-views-blockbaluarte-content-notice-block-2{
    background-color: #f5f5f5;
}

//Aplicar a las noticias
.item{
    margin-bottom: 1.5rem;
    .views-field-field-article-image{
        overflow: hidden;
        margin-bottom: 0.5rem;
        img{
            transition: all .2s ease-in;
            &:hover{
                transform: scale(1.1);
                border: 2px solid red;
            }
        }
    }
    .views-field.views-field-created {
        font-size: 14px;
    }
    .views-field-title{
        line-height: 1.1;
        a{
            color: var(--gray-dark);
            font-size: 17px;
            font-weight: bold;
        }
    }
}

// Block Openx
.block-openx{
    text-align: center;
    margin-top: 1.5rem;
    &.no-zone-1{
        margin-bottom: 1.5rem;
        img{
            max-width: 100%;
        }
    }
}