//Menu principal
#block-theme-baluarte-main-menu{
    position: absolute;
    display: none;
    top: 0;
    left: -200px;
    background: $bluePrimary;
    height: 100vh;
    z-index: 10;
    width: 200px;
    &.show{
        display: block;
        left: 0px;
    }
    .nav{
        flex-direction: column;
        margin-top: 40px;
        .nav-item{
            border-bottom: 1px solid $blueSecondary;
            &:first-child{
                position: absolute;
                right: 0;
                top: 40px;
                z-index: 999;
                background: $bluePrimary;
                border-left: 1px solid $blueSecondary;
            }
            a{
                color: white;
                padding: 0.7rem 1rem;
                font-size: 14px;
            }
            &:hover{
                a{
                    color: $bluePrimary;
                }
                background-color: $gray;
            }
            @include media-breakpoint-up(sm){
                border-right: 1px solid $bluePrimary;
                border-bottom: 0px !important;
                // &:last-child{
                //     border-right: 0px;
                // }
                a{
                    color: $bluePrimary
                }
            }
        }
        @include media-breakpoint-up(sm){
            margin-top: 0px;
        }
    }
    @include media-breakpoint-up(sm){
        display: block;
        position: relative;
        height: initial;
        background: initial;
        width: auto;
        left: initial;

        .nav{
            flex-direction: initial;
            .nav-item{
                &:first-child{
                    display: none;
                }
            }
        }
    }
}

main nav[role="navigation"],
footer nav[role="navigation"]{
    text-align: center;
    @include media-breakpoint-up(sm) {
        text-align: right;
    }
    h2{
        font-size: 13px;
        color: var(--gray);
    }
}
.social-media__menu,
.siguenos-academico__menu{
    justify-content: center;
    margin-bottom: 0.5rem;
    @include media-breakpoint-up(sm){
        justify-content: flex-end;
    }
    .nav-item{
        background-color: $blueSecondary;
        margin-right: 5px;
        border-radius: 50%;
        overflow: hidden;
        .nav-link {
            position: relative;
            max-width: 30px;
            max-height: 30px;
            padding: 0px;
            color: $blueSecondary;
            i::before{
                position: absolute;
                top: 9px;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                font-size: 13px;
            }
        }
        &:last-child{
            margin-right: 0px;
        }
        &:hover{
            background-color: var(--light);
            a{
                color: var(--light);
                i::before{
                    color: $blueSecondary;
                }
            }
        }
    }
}
.siguenos-academico__menu{
    margin-bottom: 1.5rem;
}
.account__menu{
    justify-content: flex-end;
    .nav-item{
        border-right: 1px solid $bluePrimary;
        &:hover{
            background-color: $gray;
        }
        &:last-child{
            border-right: 0px;
        }
    }
}

//Nav tabs admin
.nav-tabs{
    margin-bottom: .8rem;
    .nav-item{
        a {
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            display: block;
            padding: .5rem 1rem;
            margin-right: -1px;
        }
        &.active a{
            border-color: #dee2e6;
            border-bottom-color: transparent;
            background: white;
        }
    }
}
