#block-theme-baluarte-search{
    // display: flex;
    // align-items: center;
    input{
        border: none;
        background: none;
        z-index: 1;
        width: 20px;
        height: 23px;
        transition: all .25s ease-in .25s;
        color: transparent;
        line-height: 20px;
        &:hover{
            cursor: pointer;
        }
        &:focus{
            cursor: text;
            width: 200px;
            padding: 0 10px;
            outline: none;
            color: black;
            background: none;
            box-shadow: none;
            & + span{
                width: 200px;
                height: 25px;
                border-width: 2px;
                &::before{
                    width: 2px;
                    opacity: 0;
                    transition: all .25s ease-in;
                }
            }
        }
        & + span{
            background: rgba(255, 255, 255, .2);
            z-index: -1;
            position: absolute;
            border: 3px solid $bluePrimary;
            top: 0;
            width: 20px;
            height: 20px;
            transition: all .25s ease-in .25s;
            border-radius: 25px;
            left: 0;
            &::before{
                transition: all .25s ease-in .25s;
                transform-origin: left top;
                content: '';
                position: absolute;
                width: 10px;
                height: 3px;
                border-radius: 10px;
                background: $bluePrimary;
                transform: rotate(45deg) translate(20px, -2px);
            }
        }
    }
    button{
        display: none;
    }
    @include media-breakpoint-up(sm){
        margin-left: 1rem;
    }
}