<div {{ attributes.setAttribute('id', settings.css_id).addClass('row', settings.css_classes) }}>
    {% if is_front %}
        <a href="/inicio">
    {% endif %}
            <div class="col-md-12">
                {{ content.content }}
            </div>
    {% if is_front %}
        </a>
    {% endif %}
</div>