<div {{ attributes.setAttribute('id', settings.css_id).addClass('row', settings.css_classes) }}>
    <div class="col-md-12">
        {{ content.one }}
    </div>
    <div class="col-md-12">
        {{ content.two }}
    </div>
    <div class="col-md-12">
        {{ content.three }}
    </div>
    <div class="col-md-12">
        {{ content.four }}
    </div>
</div>