<div {{ attributes.setAttribute('id', settings.css_id).addClass('row', settings.css_classes) }}>
    <div class="col-md-12">
        {{ content.top }}
    </div>
    <div class="col-md-6">
        {{ content.left }}
    </div>
    <div class="col-md-6">
        {{ content.right }}
    </div>
    <div class="col-md-12">
        {{ content.bottom }}
    </div>
</div>